<div>
  <link href="/src/css/add-card.css" rel="stylesheet" />
  <div class="popup-container">
    <div class="popup-popup">
      <img alt="image0102" src="/src/images/image.png" class="popup-image" />


      <div class="popup-text">
        <h2 class="popup-text1">HELLO BEAUTIFUL</h2>
        <h2 class="popup-text3">Ann Napolitano</h2>


   <p class="popup-text7">
        
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
    
      <div class="popup-links">
        <img
          alt="image10103"
          src="/src/images/imageamazon.svg"
          class="popup-image1"
        />
        <img
          alt="image10103"
          src="/src/images/image-1.svg"
          class="popup-image11"
        />
      </div>
       
      
           </div>
              </div>
          <div class="popup-btn">
        <h2 class="popup-text5">Add to shopping list</h2>
      </div>
 <img src="/src/images/x-close.svg" alt="xclose4318" class="popup-xclose" />
    </div>
  </div>
</div>
