<dialog id="favDialog">
    <form class="form-authorization">
            <button type="button" id="btn-close">
                <svg class="x-icon"  width="21" height="21">
                    <use href="../images/icons.svg#icon-x-close"></use>
                </svg>
            </button>
            <div class="wrap-form"></div>
        <button type="button" id="btn-open">sing up</button>
        <div class="link-form">
            <a class="link-singUp" href="">sing up</a>
            <a class="link-singIn" href="">sing in</a>
        </div>
    </form>
</dialog>