<dialog id="favDialog">
    <form class="form-authorization">
            <button type="button" id="btn-close">
                <svg class="x-icon"  width="14" height="14">
                    <use href="../images/icons.svg#icon-x-close"></use>
                </svg>
            </button>
            <div class="wrap-input">
                <input class="input" type="text" name="name" placeholder="NAME" id="username" autocomplete="username">
  <input class="input" type="email" name="email" placeholder="EMAIL" id="email" autocomplete="email">
  <input class="input" type="password" name="password" placeholder="PASSWORD" id="current-password" autocomplete="current-password">
            </div>
        <button type="submit" id="btn-open-up">sing up</button>
        <button type="submit" id="btn-open-in" class="hidden">sing in</button>
        <div class="link-form">
            <button class="link-singUp" type="button">sing up</button>
            <button class="link-singIn" type="button">sing in</button>
        </div>
    </form>
</dialog>