<header>
    <div class="header-container">
      <div class="logo-menu-wrap">
        <p class="logo-wrap">
          <a class="logo-img-link" href="">
            <img class="logo-img" src="../images/logo.svg" alt="logo-img" />
          </a>
          <a class="lodo-text-link" href="">
            <img class="logo-text" src="../images/logo-text.svg" alt="" />
          </a>
        </p>
    
        <div class="menu-wrap">
          <div class="home-btn">Home</div>
    
          <div class="shopping-wrap">
            <a class="shopping-link">shopping list</a>
            <img src="../images/shoppin-list.svg" alt="shoper" />
          </div>
        </div>
      </div>
    
      <div class="switcher-user-wrap">
        <p class="swither-burger-wrap">
          <a class="switcher-link" href="">
            <img class="switcher-img" src="../images/switcher.svg" alt="" />
          </a>
          <a class="burger-menu-link" href="">
            <img
              class="burger-menu-icon"
              src="../images/burger-menu.svg"
              alt="burger-menu"
            />
          </a>
        </p>
    
        <div class="user"></div>
      </div>
    </div>
</header>

