<header class="header animate__animated animate__fadeInLeft">
    <div class="container">
        <div>
            <a href="./index.html" aria-label="Bookshelf" class="header-logo">
                <svg class="logo" width="24" height="24">
                    <use href="/img/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo-name">Bookshelf</p>
            </a>
        </div>
        <div class="nav">
            <ul class="nav-container">
                <li>
                    <a href="./index.html" class="home">
                        Home</a>
                    <div class="switch-box">
                        <div class="switch-button" data-switch="false"></div>
                    </div>
                        
                </li>
                <li>
                    <a href="./cart.html" class="cart" aria-label="Sign">
                        <p class="header-signup">
                            Sign up
                        </p>
                        <svg class="logo-arrow" width="16" height="12">
                            <use href="/img/icons.svg#icon-arrrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="./js/header.js" type="module"></script>
</header>