<section>
		<div class="mobilebody">
            <div class="mobileuser">

            </div>
			<div class="mobile-wrap">
			    <div class="mobilehome">
					<a href="">Home</a>
				</div>

				<div class="mob-shopping-wrap mob-shopping-btn ">
					<a class="mob-shopping-link" href="">Shopping list
						<svg class="mob-shopping-icon" width="20" height="20">
							<use href="../images/icons.svg#icon-shopping-list"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="logout-button">
				<button class="logout-button-signup">Log Out</button>
			</div>

		</div>

</section>