<div class="backdrop">
	<div class="modal">
		<button type="button" class="modal-close-btn">
			<svg class="close-icon" width="20" height="20">
				<use href="./images/icons.svg#icon-close"></use>
			</svg>
		</button>
		<div class="modal-wrap"></div>
		<button type="button" class="modal-list-btn-add modal-list-btn">add to shopping list</button>
		<button type="button" class="modal-list-btn-remove modal-list-btn" style="display: none;">remove from the
			shopping list</button>
		<span class="modal-list-container"></span>
	</div>
</div>