<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/modal.css" />
    <title>Document</title>
  </head>

  <body>
    <!-- test -->
    <div class="open-modal">
      <p>Click me</p>
    </div>
    <!-- === -->
    <div class="backdrop">
      <div class="modal">
        <button type="button" class="close-btn">
          <svg class="close-icon" width="24" height="24">
            <use href="../images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal-wrap"></div>
        <button type="button" class="list-btn">add to shopping list</button>
      </div>
    </div>
  </body>
</html>
