
  <link href="./css/styles.css" rel="stylesheet"/>
  <div class="shoppinglist-container">
    <div class="shoppinglist-shoppinglist">
      <div class="shoppinglist-header">
        <img
          src="./images/switcher28878-cyew.svg"
          alt="Switcher28878"
          class="shoppinglist-switcher2"
        />
        <div class="shoppinglist-user">
          <img
            src="./images/ellipse38878-sciv-200h.png"
            alt="Ellipse38878"
            class="shoppinglist-ellipse3"/>
          <span class="shoppinglist-text"><span></span></span>
          <img
            src="./images/fisscaretdown8878-b1ph.svg"
            alt="fisscaretdown8878"
            class="shoppinglist-fisscaretdown"
          />
        </div>
        <div class="shoppinglist-menu">
          <div class="shoppinglist-home">
            <h2 class="shoppinglist-text02">Home</h2>
          </div>
          <div class="shoppinglist-shopping">
            <h2 class="shoppinglist-text04">Shopping list</h2>
            <img
              src="./images/uilcart8878-u1k.svg"
              alt="uilcart8878"
              class="shoppinglist-uilcart"
            />
          </div>
        </div>
        <img src="./images/logo4313-h9p.svg" alt="logo4313" class="shoppinglist-logo" />
      </div>
      <h2 class="shoppinglist-text">
        <span class="shoppinglist-text07">Shopping</span>
        <span class="shoppinglist-text06">List</span>
	  </h1>
      <div class="shoppinglist-blocks">
        <span class="shoppinglist-text09">
          <span>This page is empty, add some books and proceed to order.</span>
        </span>
        <img
          src="./images/img960618879-cfn-300h.png"
          alt="IMG960618879"
          class="shoppinglist-img96061"
        />
      </div>
    </div>
  </div>
</div>

