<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/css/styles.css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>
  <div class="shoppinglist-container">
    <div class="shoppinglist-shoppinglist">
      <h1 class="shoppinglist-text">
        <span class="shoppinglist-text1">Shopping</span>
        <span class="text-list">List</span>
      </h1>
      <div class="shoppinglist-blocks">
        <span class="shoppinglist-text3">
          <h2>This page is empty, add some books and proceed to order.</h2>
        </span>
        <img src="../images/IMG_9606.png" alt="Shopping Image" class="shoppinglist-img96061">
      </div>
    </div>
  </div>
  <div id="pagination"></div>
  <script type="module" src="./main.js"></script>
</body>
</html>
