<div class="header-styles">
	<div class="element-mod">
		<h2 class="header-tittle">Support Ukraine </h2>
		<svg class="plus-icon" width="17" height="29">
			<use href="./images/symbol-defs.svg#icon-Vector-5"></use>
		</svg>
	</div>
	<div class="header-list">
		<ul class="header-menu list ">
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">01</span><img
						src="./images/section-support/Mask group-min.png" alt="Logo" Width="129" Height="32"></a></li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">02</span><img
						src="./images/section-support/Mask group (1)-min.png" alt="Logo1" Width="62" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">03</span> <img
						src="./images/section-support/Mask group (2)-min.png" alt="Logo2" Width="103" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">04</span> <img
						src="./images/section-support/Mask group (3)-min.png" alt="Logo3" Width="82" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">05</span> <img
						src="./images/section-support/Mask group (4)-min.png" alt="Logo4" Width="55" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">06</span> <img
						src="./images/section-support/Mask group (5)-min.png" alt="Logo5" Width="115" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">07</span> <img
						src="./images/section-support/Mask group (6)-min.png" alt="Logo6" Width="94" Height="32"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">08</span> <img
						src="./images/section-support/Mask group (7)-min.png" alt="Logo7" Width="85" Height="30"></a>
			</li>
			<li class="header-item"> <a class="header-link" target="_blank"> <span class="header-img">09</span> <img
						src="./images/section-support/Mask group (8)-min.png" alt="Logo8" Width="109" Height="10"></a>
			</li>
		</ul>
	</div>

	<div class="plus-btn-plus">
		<button type="button" class="plus-btn support-button" id="button">
			<svg class="btn-icon-plus" width="20" height="20">
				<use href="./images/symbol-defs.svg#icon-Vector-4"></use>
			</svg>
		</button>
		<button type="button" class="second-btn support-button" id="button" style="display: none;">
			<svg class="btn-icon-plus" width="20" height="20">
				<use href="./images/symbol-defs.svg#icon-Vector-3"></use>
			</svg>
		</button>
	</div>
</div>