@keyframes uppercaseAnimation {
  0% {
    text-transform: none;
  }
  15% {
    text-transform: uppercase;
  }
  25% {
    text-transform: uppercase;
  }
  50% {
    text-transform: uppercase;
  }
  75% {
    text-transform: uppercase;
  }
  100% {
    text-transform: uppercase;
  }
}

.all-categories {
  width: 335px;
  max-height: 228px;
  margin-top: 40px;
  overflow-y: auto;
}

.category-books-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12em;
  letter-spacing: -0.02em;
  color: var(--color-category);
  cursor: pointer;
  margin-bottom: 24px;
  transition: color 0.5s ease, background-color 0.5s ease, font-weight 0.5s ease;
  animation: uppercaseAnimation 0.8s ease-in;
}

.category-books-item:nth-last-child(1) {
  padding-bottom: 0px;
}

.category-books-item:hover {
  font-weight: 700;
  color: var(--color-cal);
  text-transform: uppercase;
}

.category-books-item.selected {
  font-weight: 700;
  color: var(--color-cal);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .all-categories {
    width: 357px;
    max-height: 472px;
  }

  .category-books-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }

  .category-books-item:nth-last-child(1) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .all-categories {
    width: 356px;
  }
}
