li {
  list-style-type: none;
}

.all-categories {
  width: 335px;
  max-height: 228px;
  margin-top: 40px;
  overflow-y: auto;
}

.category-books-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12em;
  letter-spacing: -0.02em;
  color: var(--color-category);
  padding-bottom: 24px;
}

.category-books-item:nth-last-child(1) {
  padding-bottom: 0px;
}

.category-books-item:hover {
  font-weight: 700;
  color: var(--color-cal);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .all-categories {
    width: 357px;
    max-height: 472px;
  }

  .category-books-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.02em;
    padding-bottom: 32px;
  }

  .category-books-item:nth-last-child(1) {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .all-categories {
    width: 356px;
  }
}
