body.light {
  --bg-color: #f6f6f6;
  --text-color: #111111;
  --color-cal: #4f2ee8;
  --color-category: rgba(17, 17, 17, 0.6);
  --bg-btn: #4f2ee8;
  --color-btn: #111;
  --amazon: grayscale(100%);
  --amazon-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --apple: grayscale(100%);
  --apple-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

body.dark {
  --bg-color: #202024;
  --text-color: #ffffff;
  --color-cal: #eac645;
  --color-category: rgba(255, 255, 255, 0.6);
  --bg-btn: #202024;
  --color-btn: #fff;
  --amazon: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --amazon-hover: brightness(0) invert(1);
  --apple: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --apple-hover: brightness(0) invert(1);
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.right-sections {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .right-sections {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 24px;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .right-sections {
    flex-direction: column;
    gap: 86px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
