body.light {
  --bg-color: #f6f6f6;
  --text-color: #111111;
  --color-cal: #4f2ee8;
  --color-category: rgba(17, 17, 17, 0.6);
  --bg-btn: #4f2ee8;
  --color-btn: #111;
  --amazon: grayscale(100%);
  --amazon-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --apple: grayscale(100%);
  --apple-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

body.dark {
  --bg-color: #202024;
  --text-color: #ffffff;
  --color-cal: #eac645;
  --color-category: rgba(255, 255, 255, 0.6);
  --bg-btn: #202024;
  --color-btn: #fff;
  --amazon: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --amazon-hover: brightness(0) invert(1);
  --apple: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --apple-hover: brightness(0) invert(1);
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.right-sections {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .right-sections {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 24px;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .right-sections {
    flex-direction: column;
    gap: 86px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader,
.loader-selected {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000000;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader-selected:before,
.loader-selected:after {
  content: '';
  display: block;
  position: absolute;
  top: -150px;
  left: 550px;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(50deg);
  animation: 1s spin linear infinite;
}

.loader:after,
.loader-selected:after {
  color: #4f2ee8;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
