.header-container {
  width: 375px;
  height: 64px;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.h-logo-img-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 109px;
  height: 28px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.h-menu-wrap {
  display: none;
}
.h-swither-burger-wrap {
  width: 82px;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.h-burger-menu-link {
  display: block;
}
.h-burger-menu-icon {
  fill: black;
}
.h-user {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    height: 72px;
  }

  .h-logo-menu-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .h-menu-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .h-home-btn {
    border-radius: 36px;
    padding: 8px 16px;
    width: 72px;
    height: 34px;
    background: #eac645;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
  }

  .h-shopping-link {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 118px;
    height: 20px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
  }

  .h-switcher-user-wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .h-swither-burger-wrap {
    width: 40px;
    height: 24px;
  }
  .h-burger-menu-link {
    display: none;
  }
  .h-user {
    display: block;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    background: #4f2ee8;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .h-logo-menu-wrap {
    gap: 76px;
  }
  .h-menu-wrap {
    gap: 24px;
  }
}
