.header {
  border: 1.5px solid var(--text-color);
  border-radius: 0 0 8px 8px;
}

.header-container {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.hlogo-img-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 109px;
  height: 28px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.hmenu-wrap {
  display: none;
}
.hswitcher-burger-wrap {
  width: 82px;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

/****** header burger - close menu *********/
.hburger-menu-link {
  display: flex;
  align-items: center;
  fill: black;
}

.hburger-menu-icon {
  display: none;
}

.hclose-menu-icon,
.hmob-modal-wrap {
  display: none;
}

.is-visible {
  display: block;
}

/****** *********/

.h-user {
  display: none;
}

.hshopping-link,
.hburger-menu-link {
  fill: var(--text-color);
}

/* ********  header-Mob-modal ***** */
.hmob-modal-wrap {
  width: 100%;
  height: 812px;

  position: fixed;
  top: 65px;
  right: 0;

  background-image: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      rgba(79, 46, 232, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url(./images/hmodal.png);

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover 375px 368px;
}

.hmob-modal-nav {
  position: fixed;
  top: 183px;
  right: 129px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hmodal-home-btn {
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background: #eac645;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.hmodal-shopping-link {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 128px;
  height: 20px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/* **************************** */

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
  }

  .hlogo-menu-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .hmenu-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .hhome-btn {
    border-radius: 36px;
    padding: 8px 16px;
    width: 72px;
    height: 34px;
  }
  .active {
    background: #eac645;
  }
  .hhome-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
    background: #eac645;
  }

  .hshopping-btn {
    border-radius: 36px;
    padding: 7px 16px;
    width: 156px;
    height: 34px;
    /* background: #eac645; */
  }
  .hshopping-link {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    width: 118px;
    height: 20px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .hswitcher-user-wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .hswitcher-burger-wrap {
    width: 40px;
    height: 24px;
  }

  .hburger-menu-link {
    display: none;
  }

  .h-user {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    width: 184px;
    height: 48px;
    border-radius: 36px;
    background: #4f2ee8;
    padding: 0 14px 0 14px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .hlogo-menu-wrap {
    gap: 76px;
  }

  .hmenu-wrap {
    gap: 24px;
  }
}
