 
  .shoppinglist-support {
    display: none;
  } 
.shop {
  display: flex;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.main {
  display: flex;
  flex-direction: column;
}

.shop {
  max-width: 375px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .shop {
    min-width: 768px;
    padding: 0 32px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .shoppinglist-support {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }
  .shop {
    min-width: 1440px;
    padding: 0 24px;
  }
.container-block{display: flex;}
  .main {
    display: flex;
    flex-direction: row;
  }
}
