.selected-page {
  height: 100vh;
  overflow: scroll;
}
.selected-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.04em;
  color: var(--black);
  margin-bottom: 40px;
}
.selected-color {
  color: var(--violet);
}
.wrap-gallery {
}
.booksgallery {
  overflow: hidden;
}
.js-booksgallery {
}
.list-category-books {
  overflow: hidden;
  height: 571px;
  margin-bottom: 8px;
}
.list-category-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}
.list-book {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
}
.book-item {
}
.book-img {
  border-radius: 8px;
  margin-bottom: 14px;
  width: 100%;
  height: 485px;
}
.title-book {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 4px;
}

.author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

/* ==================================================Media===================================================== */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
    margin: 0 auto;
  }

  .booksgallery {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 48px;
    line-height: 108%;
  }
  .list-category-books {
    height: 408px;
    margin-bottom: 0;
  }
  .list-category-name {
    line-height: 171%;
  }
  .list-book {
    gap: 25px;
    flex-direction: row;
  }

  .card {
  }
  .book-item {
  }
  .book-img {
    height: 316px;
  }
  .title-book {
    line-height: 125%;
  }

  .author {
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1112px;
  }
}
