.hiden-support {
  display: none;
}

/* .shoppinglist-container {
  position: relative;
} */
.shoppinglist-shoppinglist {
  position: relative;
}

.shoppinglist-blocks {
  max-width: 244px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  max-width: 244px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-category);
}

.shoppinglist-img96061 {
  display: block;
}
.shoppinglist-text {
  margin: 40px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.04em;
  color: var(--text-color);
}
.shoppinglist-text1 {
  color: #4f2ee8;
}

.container-block {
  position: relative;
  padding: 14px;
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.container-block:not(:last-child) {
  margin-bottom: 20px;
}

.book-image {
  border-radius: 8px;
  width: 100px;
  height: 142px;
}

.text-area {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.shopping-list-title {
  max-width: 144px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shopping-list-title-name {
  margin: 4px 0 8px 0;
  max-width: 160px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #b4afaf;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shopping-list-description {
  width: 193px;
  height: 68px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--text-color);

  text-overflow: ellipsis;
  white-space: pre-line;
  overflow: hidden;
}

.shopping-list-author {
  margin-top: 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.trash-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #4f2ee8;
}

.links {
  width: 56px;
  height: 16px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.amazon {
  filter: var(--amazon);
}
.amazon:hover {
  filter: var(--amazon-hover);
}

.apple-book {
  filter: var(--apple);
}
.apple-book:hover {
  filter: var(--apple-hover);
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 349px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-category);
  }

  .shoppinglist-img96061 {
    display: block;
  }
  .shoppinglist-text {
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.04em;
  }

  .container-block {
    padding: 24px;
  }

  .book-image {
    width: 116px;
    height: 165px;
  }

  .text-area {
    margin-left: 24px;
  }

  .shopping-list-title {
    width: 100%;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.04em;
  }

  .shopping-list-title-name {
    margin: 4px 0 14px 0;
    max-width: 100%;
  }

  .shopping-list-description {
    width: 508px;
    height: 53px;
  }

  .shopping-list-author {
    margin-top: auto;
  }

  .trash-btn {
    right: 24px;
    top: 24px;
    width: 34px;
    height: 34px;
  }

  .links {
    width: 92px;
    height: 27px;
    bottom: 24px;
    right: 24px;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .hiden-support {
    margin: 0 40px 0 0;
    display: flex;
  }

  .bloc-load {
    display: flex;
    flex-direction: row;
  }
  .text {
    width: 349px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
  }
  .shoppinglist-text {
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.04em;
  }

  .shoppinglist-container {
    width: 100%;
  }

  .shopping-list-description {
    width: 808px;
    height: 53px;
  }
}
