@import url('./reset.css');
@import url('./component.css');

:root {
  --bg-color: #f6f6f6;
  --text-color: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202024;
    --text-color: #ffffff;
  }
}
@media screen and (min-width: 350px) {
  .shoppinglist-container {
    width: 350px;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  .shoppinglist-user {
    display: none;
  }

  .shoppinglist-shoppinglist {
    width: 350px;
    height: 812px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(246, 246, 246, 1);
  }
    .shoppinglist-text {
      top: 104px;
      left: 20px;
      color: rgba(17, 17, 17, 1);
      height: auto;
      position: absolute;
      font-size: 32px;
      font-style: Bold;
      text-align: left;
      font-family: DM Sans;
      font-weight: 700;
      line-height: 38px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-text1 {
      color: rgba(17, 17, 17, 1);
    }
  
    .shoppinglist-header {
      top: 0px;
      left: 0px;
      width: 375px;
      height: 64px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;
      border-color: rgba(17, 17, 17, 1);
      border-style: solid;
      border-width: 1.5px;
      border-radius: 0 0 8px 8px;
      background-color: rgba(255, 255, 255, 1);
    }
  
    .shoppinglist-blocks {
      gap: 14px;
      top: 18px;
      left: 273px;
      width: 82px;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
    }
  
    .shoppinglist-switcher2 {
      width: 40px;
      height: 24px;
    }
  
    .shoppinglist-alignleft {
      width: 28px;
      height: 28px;
    }
  
    .shoppinglist-logo {
      top: 18px;
      left: 20px;
      width: 109px;
      height: 28px;
      position: absolute;
    }
  
    .shoppinglist-blocks1 {
      gap: 14px;
      top: 262px;
      left: 55px;
      width: 265px;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;
    }
  
    .shoppinglist-text3 {
      color: rgba(0, 0, 0, 0.6000000238418579);
      width: 244px;
      height: auto;
      font-size: 14px;
      font-style: Regular;
      text-align: center;
      font-family: DM Sans;
      font-weight: 400;
      line-height: 18px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-img96061 {
      width: 265px;
      height: 198px;
    }
}@media screen and (min-width: 750px) {
  .shoppinglist-container {
    width: 750px;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .shoppinglist-shoppinglist {
    width: 100%;
    height: 1007px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(246, 246, 246, 1);
  }
.shoppinglist-header {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 17, 17, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0 0 8px 8px;
  background-color: rgba(255, 255, 255, 1);
}

.shoppinglist-switcher2 {
  top: 24px;
  left: 488px;
  width: 40px;
  height: 24px;
  position: absolute;
}

.shoppinglist-user {
  top: 14px;
  left: 552px;
  width: 184px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(79, 46, 232, 1);
}

.shoppinglist-ellipse3 {
  top: 4px;
  left: 12px;
  width: 37px;
  height: 37px;
  position: absolute;
}

.shoppinglist-text {
  top: 8px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.shoppinglist-fisscaretdown {
  top: 10px;
  left: 149px;
  width: 23px;
  height: 26px;
  position: absolute;
}

.shoppinglist-menu {
  gap: 24px;
  top: 19px;
  left: 181px;
  width: 220px;
  display: flex;
  position: absolute;
  align-items: center;
}

.shoppinglist-home {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppinglist-text02 {
  color: rgba(17, 17, 17, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.shoppinglist-shopping {
  gap: 8px;
  display: flex;
  padding: 7px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 36px;
  justify-content: center;
  background-color: rgba(234, 198, 69, 1);
}

.shoppinglist-text04 {
  color: rgba(17, 17, 17, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.shoppinglist-uilcart {
  width: 20px;
  height: 20px;
}

.shoppinglist-logo {
  top: 22px;
  left: 32px;
  width: 109px;
  height: 28px;
  position: absolute;
}

.shoppinglist-text{
  top: 112px;
  left: 32px;
  color: 4F2EE8;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}

.shoppinglist-text07 {
  color: rgba(17, 17, 17, 1);
}

.shoppinglist-blocks {
  gap: 20px;
  top: 304px;
  left: 210px;
  width: 349px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.shoppinglist-text09 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 349px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.shoppinglist-img96061 {
  width: 322px;
  height: 241px;
}
}
@media screen and (min-width: 1150px) {
  .shoppinglist-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  .shoppinglist-shoppinglist {
    width: 100%;
    height: 770px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(246, 246, 246, 1);
  }

    .shoppinglist-text {
      top: 112px;
      left: 420px;
      color: rgba(17, 17, 17, 1);
      height: auto;
      position: absolute;
      font-size: 48px;
      font-style: Bold;
      text-align: left;
      font-family: DM Sans;
      font-weight: 700;
      line-height: 52px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-text01 {
      color: rgba(17, 17, 17, 1);
    }
  
    .shoppinglist-header {
      top: 0px;
      left: 0px;
      width: 1440px;
      height: 72px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;
      border-color: rgba(17, 17, 17, 1);
      border-style: solid;
      border-width: 1.5px;
      border-radius: 0 0 8px 8px;
      background-color: rgba(255, 255, 255, 1);
    }
  
    .shoppinglist-menu {
      gap: 24px;
      top: 19px;
      left: 209px;
      width: 220px;
      display: flex;
      position: absolute;
      align-items: center;
    }
  
    .shoppinglist-home {
      gap: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .shoppinglist-text03 {
      color: rgba(17, 17, 17, 1);
      height: auto;
      font-size: 14px;
      font-style: Medium;
      text-align: left;
      font-family: DM Sans;
      font-weight: 500;
      line-height: 18px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-shopping {
      gap: 8px;
      display: flex;
      padding: 7px 16px;
      overflow: hidden;
      align-items: center;
      border-radius: 36px;
      justify-content: center;
      background-color: rgba(234, 198, 69, 1);
    }
  
    .shoppinglist-text05 {
      color: rgba(17, 17, 17, 1);
      height: auto;
      font-size: 14px;
      font-style: Bold;
      text-align: left;
      font-family: DM Sans;
      font-weight: 700;
      line-height: 18px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-uilcart {
      width: 20px;
      height: 20px;
    }
  
    .shoppinglist-logo {
      top: 22px;
      left: 24px;
      width: 109px;
      height: 28px;
      position: absolute;
    }
  
    .shoppinglist-switcher2 {
      top: 24px;
      left: 1168px;
      width: 40px;
      height: 24px;
      position: absolute;
    }
  
    .shoppinglist-user {
      top: 14px;
      left: 1232px;
      width: 184px;
      height: 45px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
      background-color: rgba(79, 46, 232, 1);
    }
  
    .shoppinglist-ellipse3 {
      top: 4px;
      left: 12px;
      width: 37px;
      height: 37px;
      position: absolute;
    }
    .shoppinglist-title{display: flex;
      top: 112px;
        left: 32px;
        color: rgba(17, 17, 17, 1);
        height: auto;
        position: absolute;
        font-size: 48px;
        font-style: Bold;
        text-align: left;
        font-family: DM Sans;
        font-weight: 700;
        line-height: 52px;
        font-stretch: normal;
        text-decoration: none;
      }
    
    .shoppinglist-text06{color:4F2EE8;}
  
    .shoppinglist-fisscaretdown {
      top: 10px;
      left: 149px;
      width: 23px;
      height: 26px;
      position: absolute;
    }
  
    .shoppinglist-blocks {
      gap: 20px;
      top: 304px;
      left: 735px;
      width: 349px;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;
    }
  
    .shoppinglist-text09 {
      color: rgba(0, 0, 0, 0.6000000238418579);
      width: 349px;
      height: auto;
      font-size: 18px;
      font-style: Regular;
      text-align: center;
      font-family: DM Sans;
      font-weight: 400;
      line-height: 24px;
      font-stretch: normal;
      text-decoration: none;
    }
  
    .shoppinglist-img96061 {
      width: 322px;
      height: 241px;
    }
}
