@import url('./reset.css');
@import url('./component.css');

:root {
  --bg-color: #f6f6f6;
  --text-color: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202024;
    --text-color: #ffffff;
  }
}




 @media screen and (min-width:320px) {
   .container {
     max-width: 320px;

   }


   



   .header-tittle {
     font-family: "DM Sans", sans-serif;
     font-weight: 700;
     font-size: 22px;
     line-height: 1.09091;
     letter-spacing: -0.04em;
     color: #fff;
     text-align: center;
     margin-left: auto;
     margin-bottom: 40px;
    align-items: center;
   
  
    
   
    
     
   }

   .header-styles {
    padding: 28px 102px 72px 40px;
     border-radius: 16px;
     width: 335px;
     height: 460px;
     box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
     background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.02733987569809%, rgb(255, 255, 255) 100%);
   }

   .link {
     text-decoration: none;
   }

   .list {
     list-style: none;
   }
 }
 .header-link{
  font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 16px;
 }
 .plus-btn{
  background-color: #fff;
  border:none;
  position: absolute;
  border-radius: 100%;
  margin-left: auto;
  

 }
 .plus-btn-plus{
 
  text-align: center;
 }

 .element-mod{
  display: flex;
  
 }

 .header-img{
  display: flex;
 }

 .header-tittle-span{
  margin-right: 16px;
 }

 .hidden{

  opacity: 0;
  display: none;
 }
 